[Unit]
Description=Emacs Server

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=always
EnvironmentFile=/lapi/.emacs.env

[Install]
WantedBy=default.target
