[submodule "/home/ashx/.config/zsh/rose-pine-fzf"]
	path = .config/zsh/rose-pine-fzf
	url = https://github.com/rose-pine/fzf
[submodule ".config/kitty/rose-pine"]
	path = .config/kitty/rose-pine
	url = https://github.com/rose-pine/kitty
[submodule "pyrasevid/font"]
	path = pyrasevid/font
	url = https://github.com/be5invis/Iosevka
